# Google Tag Manager Container ID (e.g. GTM-XXXXXXX)
NEXT_PUBLIC_GTM_ID=GTM-PBQSHKLQ

# Microsoft Clarity Project ID
NEXT_PUBLIC_CLARITY_ID=

# Meta Pixel Container ID (Triggered via GTM, optional)
NEXT_PUBLIC_META_PIXEL_ID=

# LinkedIn Partner ID / Insight Tag (Triggered via GTM, optional)
NEXT_PUBLIC_LINKEDIN_PARTNER_ID=

# Sentry Debug DSN URL
NEXT_PUBLIC_SENTRY_DSN=

# Set to true to print analytics pushes in the console in local development
NEXT_PUBLIC_ANALYTICS_DEBUG=true

# Set to true to force tracking logs to push to dataLayer in development
NEXT_PUBLIC_FORCE_ENABLE_ANALYTICS=true
